* {
    margin: 0; /* Remove margens de todos os elementos */
    padding: 0; /* Remove preenchimento de todos os elementos */
    font-family: "Nunito", sans-serif; /* Define a fonte padrão como 'Nunito' */
    box-sizing: border-box; /* Inclui bordas e preenchimento no cálculo da largura e altura */
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); /* Importa a fonte 'Nunito' */










/* ------------------- início do Header ------------------- */
header {
    background: linear-gradient(80deg,#ef371e 10%, #000000 100%); /* Gradiente de vermelho para preto */
    color: #fffff7; /* Cor do texto em branco */
    padding: 30px; /* Espaçamento interno do header */
    position: relative; /* Define posição relativa para ajustar o layout */
}

header .logo {
    font-size: 16px; /* Tamanho da fonte do logo */
    font-weight: 700; /* Texto em negrito */
    text-transform: uppercase; /* Texto em letras maiúsculas */
    display: flex; /* Define o layout como flexbox */
    align-items: center; /* Centraliza o conteúdo verticalmente */
}

header img {
    width: 100px; /* Largura da imagem do logo */
    height: auto; /* Altura ajustada automaticamente com base na largura */
}

header .logo input {
    padding: 10px; /* Espaçamento interno do campo de input */
    border: none; /* Remove bordas */
    border-radius: 4px; /* Bordas arredondadas */
    width: 200px; /* Largura do campo de input */
    outline: none; /* Remove borda de foco padrão */
    font-size: 16px; /* Tamanho da fonte do input */
    transition: box-shadow 0.3s; /* Transição suave da sombra */
    margin-left: 85px; /* Margem à esquerda do campo de input */
    border: 2px solid #0b110d; /* Borda preta do campo de input */
}

header .logo:focus {
    box-shadow: 0 0 5px #0b110d(0, 0, 0, 0.2); /* Sombra ao focar no input */
}

.header-input {
    width: 100%; /* O input ocupa 100% da largura disponível dentro da caixa de busca */
    padding: 10px 20px; /* Espaçamento interno do input */
    border: none; /* Remove a borda padrão */
    outline: none; /* Remove a borda de foco padrão */
    font-size: 16px; /* Tamanho da fonte do input */
    border-radius: 30px 0 0 30px; /* Bordas arredondadas apenas no lado esquerdo */
}

.header-button {
    background-color:#1737fc; /* Cor de fundo azul do botão */
    border: none; /* Remove a borda padrão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    cursor: pointer; /* Muda o cursor para o estilo de clique */
    color: white; /* Cor do texto do botão em branco */
    font-size: 16px; /* Tamanho da fonte do botão */
    border-radius: 0 30px 30px 0; /* Bordas arredondadas apenas no lado direito */
    transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}

.header-button:hover {
    background-color:#1737fc; /* Cor de fundo do botão ao passar o mouse */
}

.div-header i {
    font-size: 18px; /* Tamanho da fonte do ícone */
}

header nav {
    position: absolute; /* Posiciona o menu de navegação de forma absoluta */
    top: 20px; /* Distância do topo */
    right: 20px; /* Distância da direita */
    margin-top: 30px; /* Margem superior */
    margin-right: 80px; /* Margem à direita */
    font-size: 20px; /* Tamanho da fonte dos links */
}

header nav ul {
    list-style: none; /* Remove os marcadores da lista */
    display: flex; /* Alinha os itens em uma linha */
    gap: 20px; /* Espaçamento entre os itens da lista */
}

header nav ul li {
    margin-top: 20px; /* Margem superior dos itens da lista */
}

header nav a {
    color:#fffff7; /* Cor do texto dos links em branco */
    text-decoration: none; /* Remove sublinhado */
    font-weight: 500; /* Peso da fonte */
    transition: color 0.3s; /* Transição suave na cor do link */
    margin-left: 20px; /* Margem à esquerda dos links */
}

header nav a:hover {
    color:#ef371e; /* Muda a cor do link ao passar o mouse para vermelho */
    transition: 0.8s; /* Suaviza a transição da cor */
}

/* ------------------- fim do Header ------------------- */










/* ------------------- início da sessão 1 ------------------- */
.inicio-01 {
    position: relative; /* Define posição relativa para a sessão */
    overflow: hidden; /* Oculta o conteúdo que ultrapassa os limites */
    color: #fffff7; /* Cor do texto em branco */
    text-align: center; /* Centraliza o texto */
    padding: 120px 0; /* Adiciona espaçamento vertical */
    min-height: 60px; /* Define a altura mínima */
}

.background-video {
    width: 100%; /* A largura do vídeo ocupa 100% do espaço */
    height: 100%; /* A altura do vídeo ocupa 100% do espaço */
    border: 10px solid #fffff7; /* Borda branca ao redor do vídeo */
    box-sizing: border-box; /* Inclui borda no cálculo do tamanho */
}

.inicio-banner {
    position: relative; /* Define posição relativa para o banner */
    padding: 50px; /* Adiciona espaçamento interno ao banner */
    height: 100%; /* Define a altura como 100% */
    width: 100%; /* Define a largura como 100% */
}

.inicio-01 {
    background-color:#0b110d; /* Fundo da sessão como preto */
}
/* ------------------- fim da sessão 1 ------------------- */










/* ------------------- início da sessão 2 ------------------- */
.inicio-produtos {
    padding: 80px; /* Adiciona preenchimento interno */
    text-align: center; /* Centraliza o texto */
    background-color:#000000; /* Fundo preto */
}

.inicio-produtos h2 {
    font-size: 36px; /* Tamanho da fonte do título */
    margin-bottom: 30px; /* Margem inferior do título */
    color: #fffff7; /* Cor do título */
}

.div-hamburgues {
    display: flex; /* Organiza os produtos em linha */
    gap: 20px; /* Espaçamento entre os itens */
    flex-wrap: wrap; /* Permite que os itens quebrem de linha */
    justify-content: center; /* Centraliza os produtos */
}

.hamburgues {
    background-color:#fffff7; /* Fundo branco para os produtos */
    border: 3px solid #ef371e; /* Borda vermelha ao redor dos produtos */
    border-radius: 15px; /* Bordas arredondadas */
    text-align: center; /* Centraliza o texto */
    box-shadow: 0 4px 8px#0b110d(0, 0, 0, 0.1); /* Sombra ao redor dos produtos */
    transition: transform 0.3s, box-shadow 0.3s; /* Animações suaves */
    padding: 20px; /* Preenchimento interno */
    width: 300px; /* Largura dos produtos ajustada */
    box-sizing: border-box; /* Inclui borda e preenchimento no cálculo da largura */
}


  
  .hamburgues:hover {
    transform: translatey(-10px); /* Move a caixa para frente */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra mais intensa no hover */
  }
.hamburgues img {
    width: 100%; /* A largura da imagem ocupa 100% do espaço disponível */
    height: 200px; /* Altura ajustada automaticamente com base na largura */
    border-radius: 20px; /* Bordas arredondadas nas imagens */
    border: 3px solid #0b110d; /* Borda preta ao redor das imagens */
}

.hamburgues h3 {
    font-size: 20px; /* Tamanho da fonte do título dos produtos */
    margin: 10px 0; /* Espaçamento em cima e embaixo */
    color: #0b110d; /* Cor preta para o título */
}

.hamburgues p {
    font-size: 20px; /* Tamanho da fonte da descrição */
    color: #ef371e; /* Cor vermelha */
    font-weight: 700; /* Texto em negrito */
    margin-bottom: 25px; /* Margem inferior da descrição */
}

.btn {
    display: inline-block; /* Exibição em bloco inline */
    padding: 10px 20px; /* Preenchimento interno do botão */
    color: #fffff7; /* Cor do texto do botão */
    background-color:#f05d4a; /* Cor de fundo do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    text-decoration: none; /* Remove sublinhado */
    font-size: 16px; /* Tamanho da fonte do botão */
    font-weight: bold; /* Texto em negrito */
    cursor: pointer; /* Muda o cursor para estilo de clique */
    transition: background-color 0.3s; /* Transição suave na cor de fundo */
}

.btn:hover {
    background-color: #ff1e00; /* Cor de fundo ao passar o mouse */
}

/* ------------------- fim da sessão 2 ------------------- */










/* ------------------- início do Footer ------------------- */
.footer-inicio {
    background: linear-gradient(90deg, #0b110d 0%, #434343 100%); /* Gradiente de fundo */
    color:#fffff7; /* Cor do texto em branco */
    padding: 40px 20px; /* Preenchimento interno */
    text-align: center; /* Centraliza o texto */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.footer-container {
    display: flex; /* Flexbox para organizar as seções */
    justify-content: space-around; /* Espaçamento igual entre as seções */
    flex-wrap: wrap; /* Permite quebra de linha em telas menores */
    max-width: 1200px; /* Largura máxima do container */
    margin: 0 auto; /* Centraliza o container horizontalmente */
}

.footer-section {
    flex: 1; /* Permite que as seções cresçam igualmente */
    margin: 0 20px; /* Margem horizontal entre as seções */
    min-width: 200px; /* Largura mínima para evitar encolhimento excessivo */
}

.footer-h3 {
    font-size: 24px; /* Tamanho da fonte do título */
    margin-bottom: 15px; /* Margem inferior do título */
    color: #fffff7; /* Cor do título */
    font-weight: bold; /* Texto em negrito */
}

.footer-section p {
    font-size: 16px; /* Tamanho da fonte do texto */
    margin-bottom: 10px; /* Margem inferior do texto */
    color: #fffff7; /* Cor do texto */
}

.footer-section a {
    color:#fffff7; /* Cor do link */
    text-decoration: none; /* Remove sublinhado dos links */
    font-size: 20px; /* Tamanho dos ícones de redes sociais */
    margin: 0 10px; /* Margem horizontal dos ícones */
    transition: color 0.3s; /* Transição suave na cor dos ícones */
}


/* Adicionando um pequeno destaque para os ícones */
.div-icon {
    display: flex; /* Alinha os ícones em linha */
    justify-content: center; /* Centraliza os ícones horizontalmente */
    margin-top: 10px; /* Margem superior */
}

.div-icon a {
    display: inline-block; /* Exibição em bloco inline para os ícones */
}

.div-icon i {
    font-size: 30px; /* Tamanho dos ícones */
    padding: 10px; /* Espaçamento interno dos ícones */
    border-radius: 50%; /* Bordas arredondadas para o círculo */
    background-color: #333; /* Cor de fundo dos ícones */
    transition: background-color 0.3s, transform 0.3s; /* Transição suave */
}

.div-icon i:hover {
    background-color: #fffff7; /* Cor de fundo ao passar o mouse */
    color:#0b110d; /* Cor dos ícones ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho dos ícones ao passar o mouse */
}

/* ------------------- fim do Footer ------------------- */
